<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/toppage.css">
    <title>Top page</title>
</head>
<body>
    <h1>プレゼント選びwebサービス</h1>
    <h3>プレゼント選びを簡単に</h3>
    <div class="container">
        <div class='kennsaku'>
            <p>友人や恋人へのプレゼント選びで困っているあなた</p>
            <p>
            <a href="./search">
                <img src="./static/images/present.png">
            </a>
            </p>
        </div>


        <div class="posting">
            <p>あなたの素晴らしいプレゼントチョイスをshare</p>
            <p>
            <a href="./post">
                <img src="./static/images/post.jpeg">
            </a> 
            </p>
        </div>
    </div>
</body>
</html>